#outside{
  width: 80%;
  max-width: 700px;
  border: 1px solid #BDC3C7;
  border-width: 20px;
  margin: 2% auto;
  font-family: source sans pro;
  font-weight: 400;
  padding: 2%;
}
#left-border{
  border-left: 6px solid #BDC3C7;
  padding-left: 0.5%;
}
.dates {
  color: #3498DB;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h1 {
  color: #2C3E50;
  font-weight: 700;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 20px;
}
